/* recruit*/
.infor{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 3px;
    background: #fffcfc;
}
.detail{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 3px;
    background: #fffcfc;
}
/* provison*/
.provision{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 3px;
    background: #fffcfc;
}