.image_product{
    width: 500px;
    height: 500px;

}

.product_view_detail{
    padding: 50px 0 0 0;
    border-radius: 3px;
}

.product_gift .box-header {
    height: 42px;
    color:red;
    background: #FFD9D9;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 12px 20px;
}

.product_gift .box-header .icon {
    width: 24px;
    height: 24px;
    margin-top: -8px;
}

.product_gift_content .gift_item li{
    list-style: block;
    margin-top: 10px;
}

.product_gift_content .gift_item li:hover {
    color:#cd1818;
}

.product_gift{
    margin-top: 30px;
}

.home-product-action {
    display: block;
    margin: 10px 0 0 0;
    border :none;
    outline:none;
    width           : 100px;
    padding         : 5px;
    border-radius   : 4px;
}

.home-product-action a{
    color:#fff;
}

.amount{
    display: flex;
    gap:10px;
}

.incre-decrese-button button{
    padding: 0 10px;
    border:1px solid #000;
    outline: none;
    border-radius: 4px;
}

.evaluate {
    display: flex;
    gap: 15px;
    align-items: center;
}

.prices-box{
    font-size: 20px;
}

@media(max-width:739px) {
    /* .hide-on-pc{
        display: none;
    } */

    .image_product{
        width: 100% !important;
    }
}

